dist/
build/

*.js
*.js.map

node_modules/

.vscode/
.idea/

.env
.env.local
.env.*.local

*.tsbuildinfo

*.log

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

tsd-debug.log
